<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.topodroid.DistoX"
      android:installLocation="auto"
      android:versionCode="300012"
      android:versionName="3.0.0l"
    >
    <uses-sdk
       android:minSdkVersion="8"
       android:targetSdkVersion="8"
    />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" / -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- uses-permission android:name="android.permission.DISABLE_KEYGUARD"/ -->
    <!-- uses-permission android:name="android.permission.WRITE_SETTINGS"/ -->
    <!-- uses-permission android:name="android.permission.INTERNET"/ -->
    <!-- uses-permission android:name="android.permission.DEVICE_POWER"/ -->
    <!-- uses-permission android:name="android.permission.WAKE_LOCK"/ -->

    <application
          android:name=".TopoDroidApp"
          android:label="@string/app_name"
          android:screenOrientation="portrait"
          android:allowBackup="false"
          android:icon="@drawable/icon3" >
          <!-- android:debuggable="false" -->

        <activity android:name=".TopoDroidActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- activity android:name=".ItemDrawer"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity -->

        <activity android:name=".FixedActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".GMActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".CalibActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".SurveyActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".ShotActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".SensorActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden|adjustResize"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".DeviceActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".DeviceList"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".DrawingActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
           <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
        </activity>

        <activity android:name=".OverviewActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
           <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
        </activity>

        <activity android:name=".SketchActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
           <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
        </activity>

        <activity android:name=".UserManualActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
           <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>
        </activity>

        <activity android:name=".TopoDroidPreferences"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".CWDActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".PtCmapActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>


        <activity android:name=".PhotoActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".SensorListActivity"
                  android:theme="@style/Theme.FullScreen"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">
        </activity>

        <!-- receiver android:name=".PairingRequest">
           <intent-filter>
               <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" /> 
               <action android:name="android.bluetooth.device.action.PAIRING_CANCEL" /> 
           </intent-filter>
        </receiver -->

    </application>
</manifest> 
