<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.topodroid.DistoX"
      android:installLocation="auto"
      android:versionCode="401135"
      android:versionName="4.1.4o"
    >
    <!-- android:debuggable="true" -->
    <!-- Android SDK dependencies:
	 (1) edit src/com/topodroid/DistoX/TDandroid.java
	     edit TopoDroidApp.java 
             edit MainWindow.java
         (2) set the slink save/values to the proper save/values-vXX
	 (3) set min and target here
             FIXME-23 : min 21 target 26 
             FIXME-16 : min 8  target 16
	     FIXME-8 : min 8  target  8
         (4) edit project.properties
         (5) change slinks in res/layout
             item_picker_dialog.xml
	     item_picker2_dialog.xml
             symbol_enable_dialog.xml
    -->
    <uses-sdk
       android:minSdkVersion="16"
       android:targetSdkVersion="28"
    />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- uses-permission android:name="android.permission.DISABLE_KEYGUARD"/ -->
    <!-- uses-permission android:name="android.permission.WRITE_SETTINGS"/ -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- uses-permission android:name="android.permission.DEVICE_POWER"/ -->
    <!-- uses-permission android:name="android.permission.WAKE_LOCK"/ -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.screen.portrait"      android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth"            android:required="true" />

    <uses-feature android:name="android.hardware.touchscreen"          android:required="false" />
    <uses-feature android:name="android.hardware.camera"               android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus"     android:required="false" />
    <uses-feature android:name="android.hardware.location"             android:required="false" />
    <uses-feature android:name="android.hardware.location.gps"         android:required="false" />
    <uses-feature android:name="android.hardware.microphone"           android:required="false" />
    <uses-feature android:name="android.hardware.audio.output"         android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass"       android:required="false" />


    <application 
          android:name=".TopoDroidApp"
          android:label="@string/app_name"
          android:allowBackup="false"
	  android:icon="@mipmap/ic_launcher"
	  android:largeHeap="true"
	  ><!-- FIXME-23 android:largeHeap="true"
                FIXME-16 android:largeHeap="true"
                FIXME-8 nothing
	  android:icon="@drawable/icon4"
	  android:roundIcon="@drawable/icon4"
	  -->
	  <!-- android:screenOrientation="portrait" -->
      
	  <!-- android:extractNativeLibs="false" -->
          <!-- android:largeHeap="true"  post Gingerbread large memory -->
          <!-- android:debuggable="false" -->

        <activity android:name=".MainWindow"
	  android:theme="@style/Theme.FullScreen"
          >
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
        </activity>

        <!-- activity android:name=".ItemDrawer"
          android:theme="@style/Theme.FullScreen"
          >
        </activity -->

        <activity android:name=".FixedActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".GMActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".CalibActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".SurveyWindow"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".ShotWindow"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".SensorActivity"
	  android:theme="@style/Theme.FullScreen"
          android:windowSoftInputMode="stateHidden|adjustResize"
          >
        </activity>

        <activity android:name=".DeviceActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".DeviceList"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".DrawingWindow"
	  android:theme="@style/Theme.FullScreen"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

        <activity android:name=".OverviewWindow"
	  android:theme="@style/Theme.FullScreen"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

        <activity android:name=".SketchWindow"
	  android:theme="@style/Theme.FullScreen"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

        <activity android:name=".UserManualActivity"
	  android:theme="@style/Theme.FullScreen"
          >
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

	<activity android:name=".TDPrefActivity"
	  android:theme="@style/Theme.FullScreen"
          android:windowSoftInputMode="stateHidden"
	  android:screenOrientation="portrait"
          >
        </activity>

        <activity android:name=".CWDActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".PtCmapActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".PhotoActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <activity android:name=".SensorListActivity"
	  android:theme="@style/Theme.FullScreen"
          >
        </activity>

        <!-- receiver android:name=".PairingRequest">
          <intent-filter>
            <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" /> 
            <action android:name="android.bluetooth.device.action.PAIRING_CANCEL" /> 
          </intent-filter>
	</receiver -->

        <!-- provider android:name=".MyFileProvider"
          android:authorities="com.topodroid.DistoX.provider"
          android:exported="false"
          android:grantUriPermissions="true">
          <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"
            />
	</provider -->

        <!-- service
          android:name="TD_DistoX"
          android:icon="@drawable/icon4"
          android:label="TD_DistoX"
          android:process=":td_distox_process"
          >
        </service -->

    </application>
</manifest> 
