<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
      package="com.topodroid.TDX"
      android:installLocation="auto"
      android:versionCode="601032"
      android:versionName="6.1.32"
    >
    <!-- android:debuggable="true" -->
    <!-- Android SDK dependencies:
	 (1) edit src/com.topodroid.TDX/TDandroid.java
	     edit TopoDroidApp.java 
             edit MainWindow.java
         (2) set the slink save/values to the proper save/values-vXX
	 (3) set min and target here
             FIXME-23 : min 21 target 26 
             FIXME-16 : min 8  target 16
	     FIXME-8 : min 8  target  8
         (4) edit project.properties
         (5) change slinks in res/layout
             item_picker_dialog.xml
	     item_picker2_dialog.xml
             symbol_enable_dialog.xml
    -->
    <!-- API-18 = Android 4.3   Jelly Bean
         API-19 = Android 4.4   KitKat
         API-21 = Android 5.0   Lollipop
         API-22 = Android 5.1 
         API-23 = Android 6     Marshmallow
         API-24 = Android 7.0   Nougat
         API-25 = Android 7.1
         API-26 = Android 8.0.0 Oreo
         API-27 = Android 8.1.0
         API-28 = Android 9     Pie
         API-29 = Android 10    Q
         API-30 = Android 11
         API-31 = Android 12
         API-32 = Android 12.1
         API-33 = Android 13    Tiramisu
    -->
    <uses-sdk
       android:minSdkVersion="18"
       android:targetSdkVersion="33"
       tools:ignore="GradleOverrides,OldTargetApi"
    />
    <!-- android:maxSdkVersion="29" -->

    <queries>
      <!-- package android:name="com.topodroid.Cave3D" / -->
      <package android:name="com.topodroid.proj4" />
    </queries>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Android-12 replaces BLUETOOTH and BLUETTOTH_ADMIN with the following two -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />

    <!-- Android-12 ignores MANAGE_EXTERNAL_STORAGE: user must grant with adb - nevertheless the uses-permission must be declared -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- API-33 has the media granularity permissions: READ_MEDIA_IMAGES READ_MEDIA_VIDEO READ_MEDIA_AUDIO -->
    <!-- uses-permission can be limited with android:maxSdkVersion="32" -->
    <!-- permission android:name="..." android:protectionLevel="development" -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <!-- uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" / -->
    <!-- uses-permission android:name="android.permission.DISABLE_KEYGUARD"/ -->
    <!-- uses-permission android:name="android.permission.WRITE_SETTINGS"/ -->
    <!-- uses-permission android:name="android.permission.DEVICE_POWER"/ -->
    <!-- uses-permission android:name="android.permission.WAKE_LOCK"/ -->

    <!-- uses-feature android:name="android.hardware.screen.portrait"      android:required="true" / -->
    <uses-feature android:name="android.hardware.bluetooth"            android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen"          android:required="true" />

    <uses-feature android:name="android.hardware.camera"               android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus"     android:required="false" />
    <uses-feature android:name="android.hardware.location"             android:required="false" />
    <uses-feature android:name="android.hardware.location.gps"         android:required="false" />
    <uses-feature android:name="android.hardware.microphone"           android:required="false" />
    <uses-feature android:name="android.hardware.audio.output"         android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass"       android:required="false" />

    <application 
          android:name=".TopoDroidApp"
          android:label="@string/app_name"
	  android:icon="@mipmap/ic_launcher"

	  android:largeHeap="true"
          android:hasFragileUserData="true"
	  android:requestLegacyExternalStorage="true"
          android:supportsRtl="false"

          android:networkSecurityConfig="@xml/network_security_config"
	  >
          <!-- request legacy is not necessary on android-11 but it is ok to leave it in
	  android:requestLegacyExternalStorage="true"
	  android:preserveLegacyExternalStorage="true" DO NOT ADD THIS: it breaks the database 
          -->
          <!-- android:largeHeap="true"  post Gingerbread large memory 
               FIXME-23 android:largeHeap="true"
               FIXME-16 android:largeHeap="true"
               FIXME-8 nothing
	  android:icon="@drawable/icon4"
	  android:roundIcon="@drawable/icon4"
                FIXME-31
          android:roundIcon="@mipmap/ic_launcher_round"
          tools:targetApi="31" 

          android:allowBackup="false" deprecated from Android 12
	  -->
          <!--
	  android:requestLegacyExternalStorage="true"
	  android:preserveLegacyExternalStorage="true" DO NOT ADD THIS: it breaks the database 
          -->

	  <!-- android:screenOrientation="portrait" -->
	  <!-- android:extractNativeLibs="false" -->
          <!-- android:debuggable="false" -->

        <activity android:name=".MainWindow"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="true"
          >
          <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
          <meta-data android:name="android.app.shortcuts"
                     android:resource="@xml/shortcuts"
          />
        </activity>

        <activity android:name=".FixedActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <activity android:name=".PlotReloadWindow" tools:ignore="Instantiatable"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <activity android:name=".GMActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <activity android:name=".CalibActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <activity android:name=".SurveyWindow"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <activity android:name=".ShotWindow"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />
          <!-- android:screenOrientation="fullSensor" -->

        <activity android:name=".SensorActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:windowSoftInputMode="stateHidden|adjustResize"
          android:exported="false"
        />

        <activity android:name=".DeviceActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <!-- activity android:name=".DeviceList"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        / -->

        <!-- MUST LIST WINDOWS -->
        <!-- activity android:name=".ItemDrawer"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity -->

        <activity android:name=".DrawingWindow" tools:ignore="Instantiatable"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="true"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

        <activity android:name=".OverviewWindow" tools:ignore="Instantiatable"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="true"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

        <!-- activity android:name=".SketchWindow"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
          >
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity -->

        <activity android:name="com.topodroid.help.UserManualActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="true"
          >
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
          </intent-filter>
        </activity>

	<activity android:name="com.topodroid.prefs.TDPrefActivity"
	  android:theme="@style/Theme.FullScreen"
          android:windowSoftInputMode="stateHidden"
          android:configChanges="orientation|screenSize"
          android:exported="false"
          >
	  <!-- android:screenOrientation="portrait" -->
        </activity>

        <activity android:name=".CWDActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
          >
	  <!-- android:screenOrientation="portrait" -->
        </activity>

        <activity android:name=".PtCmapActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
          >
	  <!-- android:screenOrientation="portrait" -->
        </activity>

        <activity android:name=".GraphPaperScaleActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
          >
	  <!-- android:screenOrientation="portrait" -->
        </activity>

        <activity android:name=".SensorListActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <activity android:name="com.topodroid.tdm.TdManagerActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />
        <activity android:name="com.topodroid.tdm.TdmConfigActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />
        <activity android:name="com.topodroid.tdm.TdmViewActivity"
	  android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        />

        <!-- receiver android:name=".PairingRequest">
          <intent-filter>
            <action android:name="android.bluetooth.device.action.PAIRING_REQUEST" /> 
            <action android:name="android.bluetooth.device.action.PAIRING_CANCEL" /> 
          </intent-filter>
	</receiver -->

        <!-- provider android:name=".MyFileProvider"
          android:authorities="com.topodroid.TDX.provider"
          android:exported="false"
          android:grantUriPermissions="true">
          <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths"
            />
	</provider -->

        <!-- service
          android:name="TDX"
          android:icon="@drawable/icon4"
          android:label="TDX"
          android:process=":td_distox_process"
          >
        </service -->

      <activity android:name=".TopoGL"
          android:theme="@style/Theme.FullScreen"
          android:configChanges="orientation|screenSize"
          android:exported="false"
        ><!--
                android:configChanges="orientation|screenSize" to react to screen orientation chnages
	        android:requestLegacyExternalStorage="true"
        -->
        <!-- intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter -->
        <!-- intent-filter>
              <action android:name="Cave3X.intent.action.Launch" />
              <category android:name="android.intent.category.DEFAULT" />
        </intent-filter -->
      </activity>

    </application>
</manifest> 
